.profileContainer {
  display: grid;
  grid-template-areas: "sidebar header"
                      "sidebar nav"
                      "sidebar bodycontainer";
  grid-template-columns: 20vw auto;
  grid-template-rows: 15vw 8vw auto;
  grid-gap: 10px;

  height: 100vh;
}
.sidebar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  grid-area: sidebar;
  background-color: #121615;
  height: 100vh;
  align-items: center;
  /* position: sticky;
  top: 0;
  z-index: 1; */
}
.header {
  grid-area: header;
  display: grid;
  top:0;
  height: 15vw;
  justify-items: center;
  /* right: 20vw; */
  grid-template-areas: 
  "eventname editevent user"
  "eventdate null null"
  "eventlocation null null"
}
.nav {
  grid-area: nav;
  display: grid;
  height: 15vw;
  grid-template-areas: "topic schedule attendees"
}
.bodyContainer {
  grid-area: bodycontainer;
  display: flex;
  flex-direction: column;
}

/* Sidebar Component CSS */
.sidebarName {
  font-size: 180%;
  color: #F5F0EF;
  padding: 10%
}

.sidebarEvents {
  display: flex;
  flex-direction: column;
}

.sidebarEvent {
  margin: 0.2em;
  padding: 0.2em;
  text-align: center;
  font-size: 120%;

}

.sidebarEvent:hover {
  background-color: #80858D
}

.sidebarEventName {
  text-align: center;
  color: #F5F0EF;
  word-break: break-all;
}

.sidebarAddEvent {
  text-align: center;
  /* align-self: flex-end; */
  color: #3773B0;
  font-size: 10%;
  margin-top: auto;
}

/* Header Component CSS */
.jumbotron {
  display: grid;
  grid-template-areas: 
    "eventname editevent user"
    "eventdate null null"
    "eventlocation null null"
}
.eventName {
  grid-area: eventname;
  text-align: center
}
.eventDate {
  grid-area: eventdate;
  text-align: center
}
.eventLocation {
  grid-area: eventlocation;
  text-align: center
}
.editEvent {
  grid-area: editevent
}
.user {
  grid-area: user
}

/* Nav Component CSS */
.topic {
  grid-area: topic
}
.schedule {
  grid-area: schedule
}
.attendees {
  grid-area: attendees
}

.activity:hover {
  background-color: lightcyan
}

/* Topics Container */
.topicsContainer{
}

.topics{
}

.addTopicButton{
  margin-left: auto
}

.topic{
}

.dayCards {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.dayCard {
  flex-basis: 100%;
}

.addActivityButton {
  margin-left: auto;
}

.inviteButton{
  margin-left: auto
}

.welcome {
  background-color: black;
  height: 100vh;
}