/* .profileContainer {
  display: grid;
  grid-template-areas: "sidebar header"
                      "sidebar nav"
                      "sidebar bodycontainer";
  grid-template-columns: 20vw auto;
  grid-template-rows: 15vw 8vw auto;
  grid-gap: 10px;

  height: 100vh;
} */

.profileContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

/* Profile Container */
.sidebar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #121615;
  height: 100vh;
  width: 20vw;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.notSidebar {
  display: flex;
  width: 80vw;
  flex-direction: column;
}

/* NotSidebar */
.headerNav {
  display: flex;
  position: sticky;
  flex-direction: column;
  height: 25vh;
  top: 0;
  z-index: 1;
}
.bodyContainer {
  grid-area: bodycontainer;
  display: flex;
  flex-direction: column;
  height: 75vh;
  overflow: auto;
}

/* HeaderNav */

.header {
  display: flex;
  height: 15vw;
}

.nav {
  display: flex;
}

.nav-link {
  color: black;
}

/* Sidebar Component CSS */
.sidebarName {
  font-size: 180%;
  color: #F5F0EF;
  padding: 10%
}

.sidebarEvents {
  display: flex;
  flex-direction: column;
  overflow: auto;

}

.sidebarEvent {
  margin: 0.2em;
  padding: 0.2em;
  text-align: center;
  font-size: 120%;

}

.sidebarEvent:hover {
  background-color: #80858D
}

.sidebarEventName {
  text-align: center;
  color: #F5F0EF;
  word-break: break-all;
}

.sidebarAddEvent {
  text-align: center;
  /* align-self: flex-end; */
  color: #3773B0;
  font-size: 10%;
  margin-top: auto;
}

.sidebarAddEvent button {
  margin-bottom: 30%
}

/* Header Component CSS */
.eventDetails {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 90vw;
}

.headerButtons {
  display: flex; 
  margin-left: auto;
  align-items: flex-start; 
}

.eventName {
  text-align: center
}
.eventDate {
  text-align: center
}
.eventLocation {
  text-align: center
}


/* Topics Container */
.topicsContainer{
  display:flex;
  flex-direction: column;
}

.topics{
  display: flex;
  flex-wrap: wrap;
  /* align-items: flex-end; */
  align-content: space-between;
}

.topics h3 {
  margin-left: 3%
}

.addTopicButton{
  margin-left: auto;
  padding-right: 1%
}

.topicsContainerTopic{
  height:5%;
  width: 20%;
  padding: 1%;
}

.topicsContainerCard:hover {
  background-color: #D3D3D3;
}

.card-title {
  text-align: center;
  color: black;
}

/* Topic Container */

.topic {
  display: flex;
  flex-direction: column;
}

.topicName {
  text-align: center;
}

.addCommentForm {
  display: flex;
  /* justify-content: flex-end; */
  margin-left: auto;
  align-items: baseline;
  padding-right: 2%;
  padding-top: 1%;
}

.addCommentForm .form-group {
  margin-right: 4%;
}

.commentInput {
  border:1px solid gray;
  height: 6.1vh;
  margin-right: 5%;
  width: 40vh;
}

/* Schedule Container */

.scheduleContainer {
  display: flex;
  flex-direction: column;
}

.dayCards {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.dayCards h3 {
  margin-left: 3%
}

.dayCard {
  flex-basis: 100%;
}

.addActivityButton {
  margin-left: auto;
  margin-right: 1%
}

.inviteButton{
  margin-left: auto
}

.activity:hover {
  background-color: #D3D3D3
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #696969;
  flex-direction: column;
  height: 100vh;
}

.welcomeButtons {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
}

.welcome-create {
  margin-right: .5%
}

.welcome-login {
  margin-left: .5%
}

.join-event {
  display: flex;
  background-color: #696969;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.joinEventName{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.joinEventName h4 {
  margin-top: 0px;
}

.joinEventName h2 {
  margin-bottom: 0px;
}

.joinButtons {
  margin-top: 3%
}

.welcome h1 {
  font-size: 300%
}