.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgba(50, 115, 220, 0.3);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}
.profileContainer {
  display: grid;
  grid-template-areas: "sidebar header"
                      "sidebar nav"
                      "sidebar bodycontainer";
}
.sidebar {
  grid-area: sidebar;
  background-color: coral
}
.header {
  grid-area: header;
  display: grid;
  background-color: burlywood;
  grid-template-areas: "eventname eventdate eventlocation editevent user"
}
.nav {
  grid-area: nav;
  display: grid;
  background-color: darkkhaki;
  grid-template-areas: "topic schedule attendees"
}
.bodyContainer {
  grid-area: bodycontainer;
  background-color: rosybrown
}

/* Header Component CSS */
.eventName {
  grid-area: eventname
}
.eventDate {
  grid-area: eventdate
}
.eventLocation {
  grid-area: eventlocation
}
.editEvent {
  grid-area: editevent
}
.user {
  grid-area: user
}

/* Nav Component CSS */
.topic {
  grid-area: topic
}
.schedule {
  grid-area: schedule
}
.attendees {
  grid-area: attendees
}

.activity:hover {
  background-color: lightcyan
}